<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskify</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <p><%= description %></p>
        <a href="/">Back to Home</a>
    </div>

    <footer>
        <div class="footer-text" style="text-align:center; margin-top: 50px; font-weight: bold;">
            Built with passion <span class="heart" style="color:red;">&#10084;</span> by Vinit
        </div>
    </footer>
</body>
</html>